* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("logo.jpeg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 105px 60px;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.6px solid transparent;
}

.border:hover {
    border: 1.6px solid white;
    border-radius: 1.8px;
}

.first-add {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}

.sec-add {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-address {
    padding: 8px;

}

.nav-search {
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 40px;

    /* border-radius: 4px; */

}

.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
    background-color: #e6e6e6;
    width: 55px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {

    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

input::placeholder {
    padding-left: 7px;
}

.lens {
    background-color: #ffffff;
    color: grey;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 1px;
  
}